
@{
    ViewBag.Title = "Lokalizacja Chorego";


}

@model SOZA_web.Models.Map

<h2>Lokalizacja Chorego</h2>
﻿
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_y0sL-G1D8VsCgz9e7sxKjgM_oyqwoi0" type="text/javascript"></script>

@foreach (SOZA_web.Models.Location Loc in Model.Loc)
{
    <div class="Loc" data-latitude="@(Loc.Latitude)"
         data-longitude="@(Loc.Longitude)"
        timestamp="@(Loc.Timestamp)">
    </div>
}

<style>
    .infoDiv {
        height: 5%;
        width: 8%;
        -webkit-user-select: none;
        background-color: white;
    }
</style>
<br />
<div id="map_canvas" style="height: 550px; width: 80%;"></div>

             
  @section scripts {
    <section class="scripts">
    <script type="text/javascript">
    var infowindow = new google.maps.InfoWindow();
    $(document).ready(function () { Initialize(); });

    function Initialize() {
        var Locs = $(".Loc");
        var Coord = new Array();
        var Markers = new Array();

       var mapOptions = {
            zoom: 17,
            center: new google.maps.LatLng(54.3712851, 18.6166806),
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
       };
       var mapCanvas = document.getElementById('map_canvas');


       if (mapCanvas != null)
       {
            map = new google.maps.Map(mapCanvas, mapOptions);

            var SafeArea = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: map,
                    center: new google.maps.LatLng(54.3715175, 18.6126851),//new google.maps.LatLng(54.371656, 18.612412) ETI,
                    radius: 50
            });    

            $.each(Locs, function (key, value) {
                var Lat = Number(String($(this).attr("data-latitude")).replace(",", "."));
                var Long = Number(String($(this).attr("data-longitude")).replace(",", "."));
                var infoString = String($(this).attr("timestamp"));

                Coord.push(new google.maps.LatLng(Lat, Long));

                var marker = new google.maps.Marker({
                    map: map,
                    draggable: false,
                    position: new google.maps.LatLng(Lat, Long)
                })
                marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.close;
                    infowindow.setContent(infoString);
                    infowindow.open(map, marker);
                });
                Markers.push(marker);

            });
          /* if (Coord.length>0)
                map.panTo(Coord.length-1)*/

           var EscapePath = new google.maps.Polyline({
                    path: Coord,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });
           EscapePath.setMap(map);
           }

        }
      
   /*  
      
      */
        </script>
    </section>


}
