@{
    ViewBag.Title = "O projekcie";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Celem projektu jest zaprojektowanie i zaimplementowanie systemu kontrolującego przemieszczanie się osób z Alzheimerem przy założeniu, że jest ona wyposażona w naładowany telefon komórkowy. System powinien alarmować członka rodziny chorego w momencie opuszczenia przez niego określonego miejsca pobytu  (za pomocą SMS-a) i zaznaczać jego aktualną lokalizację na
mapie cyfrowej.
</p>
