
@{
    ViewBag.Title = "Admin Panel";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Manage Users", "UsersIndex")
</p>
<p>
    @Html.ActionLink("Manage Android Clients", "AndroidClientsIndex")
</p>

