@{
    ViewBag.Title = @SOZA_web.Resources.HomeTexts.Confirmation;
}

<div>
    <p>
      @SOZA_web.Resources.HomeTexts.ThankYou @Html.ActionLink(@SOZA_web.Resources.HomeTexts.PressHere, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
