@{
    ViewBag.Title = "Potwierdzenie adresu e-mail";
}

<div>
    <p>
       Dziękujemy za potwierdzenie adresu e-mail. @Html.ActionLink("Kliknij tu aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
