@{
    ViewBag.Title = @SOZA_web.Resources.HomeTexts.ResetPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Twoje hasło zostało zresetowane. @Html.ActionLink(@SOZA_web.Resources.HomeTexts.HereToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
